.venv
Real-life Deception Detection Dataset With Train Test
dataset_artifacts
inference_artifacts
output
7525374-hd_1080_1920_25fps.mp4
trial_lie_001.mp4
W.mp4
Whats.mp4
WhatsApp Video 2026-04-07 at 13.52.34.mp4
lie.zip